@{
    ViewData["Title"] = "Geen toegang";
}

<h1>U heeft momenteel geen rechten om dit bestand te bekijken.</h1>
<p>
    <a asp-controller="Account" asp-action="LogIn">Log in als beheerder</a> om toegang te krijgen tot deze pagina.
</p>