@{
    ViewData["Title"] = "Ongeauthoriseerd";
}

<h1>Om deze pagina te kunnen zien moet u inloggen</h1>
<p>U heeft geen rechten om deze pagina te bekijken. Log <a asp-controller="Account" asp-action="LogIn">hier</a> in.</p>