@{
    ViewData["Title"] = "Uitgelogd";
}

<div class="text-center uitgelogd-text">
    <h1>U bent succesvol uitgelogd</h1>
    <h4>Bedankt voor uw bezoek aan ProgrammersPoint!</h4>
</div>

<div class="text-center">
    <a class="homepage-button btn btn-primary" asp-controller="Home" , asp-action="Index">Keer terug naar de homepagina</a>
    <p>of</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="LogIn">Log in als andere gebruiker</a>
</div>